body {
  margin: 5;
  margin-left:20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  background-color:ghostwhite;
  color: #4d4d4d;
  font-size: 17px;
  line-height: 120%;
}

h3 {
    margin-top:5px;
    margin-bottom: 5px;
}

figure { align-items: center;
  float: center;
  width: 60%;
  text-align: justify;
  font-style: italic;
  font-size: normal;
  text-indent: 0;
}

.vl {
    height:50px;
    float:left;
    border: 1px solid ghostwhite;
}

.vl0 {
    height:10px;
    float:left;
    border: 1px solid ghostwhite;
}

/* Lists */
ul {padding-left:20px;list-style-type:none;line-height:150%;}
ul ul {padding-left:20px;}
    
/* Navigation bar */
.topnav {
  background-color: mediumpurple;
  overflow: hidden;
}

/* Navigation bar: Links inside */
.topnav a {
  float: left;
  color: ghostwhite;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
  font-size: 19px;
}

/* Navigation hover */
.topnav a:hover {
  background-color: lavender;
  color: mediumpurple;
}

/* Navigation bar: Active link */
.topnav a.active {
  background-color: ghostwhite;
  color: mediumpurple;
}

/* Collapsible panel */
.collapsible {
  background-color: ghostwhite;
  color: inherit;
  cursor: pointer;
  padding: 0px;
  width: 35%;
  border: none;
  text-align: left;
  outline: none;
  font-size: inherit;
  line-height: 120%;
  margin-left:20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Collapsible panel: Hover */
.active, .collapsible:hover {
    background-color: ghostwhite;
    color: purple;
}

.collapsible:after {
  content: '\2193';
  color: inherit;
  font-weight: bold;
  float: right;
}

/*.active:after {
  content: "\2212";
}*/

.content {
  padding: 0 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: inherit;
}